###############################################################################
#                                                                             #
# This file controls which patches WheelBarrow ignores.                       #
#                                                                             #
# To disable a patch, remove the leading '#' so the line becomes active.      #
#                                                                             #
# If this file is missing entirely, WheelBarrow runs with all patches applied #
#                                                                             #
###############################################################################

# wheelbarrow_welcome_message

# extended_persistence_range
# map_crc_check_skip
# grass_persistency
old_savegame_support